* {
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-size: 10px;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
}

:root {
  --orange: #E79F3B;
  --darkBlue: #2F5267;
  --mediumBlue: #6E8898;
  --white: #ffffff;
  --black: #000000;
  --fondoDegradado: linear-gradient(180deg, #6E8898 10%, #6E8898 40%);
}